@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Bold.ttf');
}

@font-face {
    font-family: 'AmaticsSC';
    src: url('../fonts/AmaticSC-Bold.ttf');
}

* {
    padding: 0%;
    margin: 0%;
}

#menuNavigation li a{
    color: rgba(0, 0, 0, 0.789);
    font-family: 'Lato';
}

#diagImmobilier {
    background: url('../images/slide2.png') center/cover no-repeat;
    height: 50vh;
}

#modelisationBatiment {
    background: url('../images/slide4.png') center/cover no-repeat;
    height: 50vh;
}

#auditsEnergetiques {
    background: url('../images/slide6.png') center/cover no-repeat;
    height: 50vh;
}

#paiementLigne {
    background: url('../images/BG.png') center/cover no-repeat;
    height: 40vh;
}

.titreDiag {
    font-family: 'AmaticsSC';
    font-size: 3rem;
    padding: 0%;
}

.enSavoirPlus, .etapeSuivante {
    background: rgb(255, 153, 0);
    font-family: 'Lato';
}

.enSavoirPlus:hover, .etapeSuivante:hover {
    background: rgba(255, 123, 0, 0.926);
}

.votreDevis {
    font-family: 'AmaticsSC';
}

.gratuit {
    font-family: 'Lato';
}

.carte {
    transition: scale 0.3s;
}
.carte:hover {
    scale: 1.03;
    color: rgba(255, 123, 0, 0.926);
    background: rgba(255, 123, 0, 0.926);
}

.titre {
    font-family: 'AmaticsSC';   
}

.carteConfiance {
    background: rgba(255, 123, 0, 0.926);
    transition: scale 0.5s;
}

.carteConfiance .card-title {
    font-family: 'AmaticsSC';
}

.carteConfiance .card-text {
    font-family: 'Lato';
}

.carteConfiance:hover {
    background: white;
    color: rgba(255, 123, 0, 0.926);
    scale: 1.05;
}

#paiementLigne ul li, #footer2 ul li {
    list-style-type: none;
    font-family: 'Lato';
}

@media only screen and (min-width: 1000px) {
    .lahatra {
        transform: translate(-50%, -50%) !important;
        top: 0 !important;
        left: 50%;
        position: absolute !important;
    }
    .lahatraAnjara {
        height: 50vh;
    }

    .anjara {
        transform: translate(-50%, -54%) !important;
        top: 0 !important;
        left: 50%;
        position: absolute !important;
    }
}

#footer1 p {
    font-family: 'Lato';
}

#footer2 .card {
    border: none;
}

#footer3 {
    background: url('../images/Bgcontact.png') center/cover no-repeat;
    background-size: auto;
}

#footer3 .row {
    background: rgba(0, 0, 0, 0.919);
    background-size: auto;
}

.lastText {
    color: rgba(255, 123, 0, 0.926);
    text-decoration: none;
}
