@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Bold.ttf');
}

@font-face {
    font-family: 'AmaticsSC';
    src: url('../fonts/AmaticSC-Bold.ttf');
}

* {
    padding: 0%;
    margin: 0%;
}

#menuNavigation li a{
    color: rgba(0, 0, 0, 0.789);
    font-family: 'Lato';
}

#diagImmobilier {
    background: url('../images/slide2.png') center/cover no-repeat;
    height: 50vh;
}

#modelisationBatiment {
    background: url('../images/slide4.png') center/cover no-repeat;
    height: 50vh;
}

#auditsEnergetiques {
    background: url('../images/slide6.png') center/cover no-repeat;
    height: 50vh;
}

.titreDiag {
    font-family: 'AmaticsSC';
    font-size: 3rem;
    padding: 0%;
}

.enSavoirPlus, .etapeSuivante {
    background: rgb(255, 153, 0);
    font-family: 'Lato';
}

.enSavoirPlus:hover, .etapeSuivante:hover {
    background: rgba(255, 123, 0, 0.926);
}

.votreDevis {
    font-family: 'AmaticsSC';
}

.gratuit {
    font-family: 'Lato';
}

.card {
    transition: scale 0.3s;
}
.card:hover {
    scale: 1.03;
    color: rgba(255, 123, 0, 0.926);
    background: rgba(255, 123, 0, 0.926);
}

.titreSixAns {
    font-family: 'AmaticsSC';   
}

@media only screen and (min-width: 1000px) {
    .lahatra {
        transform: translate(-50%, -50%) !important;
        top: 0 !important;
        left: 50%;
        position: absolute !important;
    }
}